.footer-form{
    display:block;
    margin-left: auto;
    width: 570px;

    & p{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        text-align: justify;
        margin-bottom: 20px;
    }
}

.mail-form{
    display: flex;
}

.mail-form input{
    width: 358px;
    margin-right: 12px;
    background-color: var(--block-bg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.6);
    transition: border 250ms var(--timing-function);

        &:hover, &:focus{
            border: 1px solid  $primary-bg-color;
            outline: none;
        }

        &::placeholder{
            margin-right: 16px;
            font-size: 16px;
            line-height: 1.25;
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
}

.footer-button{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color:  $primary-bg-color;
    margin: 0;
    background: var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    transition: box-shadow 250ms var(--timing-function), background-color 250ms var(--timing-function);

        &:focus, &:hover{
            background-color: #188CE8;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            cursor: pointer;
        }
}

.footer-telegram{
    margin-left: 10px;
}
