/* Hero section */
.hero{
    background-color: var(--block-bg-color);
    color:  $primary-bg-color;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    max-width: 480px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/hero-image480.jpg);
        background-size: 480px 400px;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {            
            background-image: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/hero-image960.jpg);
                background-size: 480px 400px;
            }
    

    @media screen and(min-width:$mobile) {
        max-width: 767px;
        background-size: cover;
    }

    @media screen and(min-width:$tablet) {
        max-width: 1199px;
        height: 400px;
        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/hero-image768.jpg);
        background-size: cover;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {            
            background-image: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/hero-image1536.jpg);
                background-size: cover;
            }
    }

    @media screen and(min-width:$desktop) {
        max-width: 1600px;
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px; 
        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/hero-image1600.jpg);
        background-size: cover;
      

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {            
            background-image: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/hero-image3200.jpg);
              
            }
    }
}

.hero__title{
        font-weight: 900;
        font-size:26px;
        line-height:1.61;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;  
        
        @media screen and(min-width:$desktop) {
            font-size:44px;
            line-height:1.36;   
        }
 }

.hero__button{
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        align-items: center;
        letter-spacing: 0.06em;
        color:  $primary-bg-color;
        background-color: var(--active-color);
        width: 200px;
        border-radius: 4px;
        padding: 10px;
        margin-top: 30px;
        border: none;
        transition: box-shadow 250ms var(--timing-function), background-color 250ms var(--timing-function);
        
            &:focus, &:hover{
                background: #188CE8;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                cursor: pointer;
            }
}