/* Navigation */
.nav{
    @media screen and (min-width:0px) and (max-width:767px){
        display: none; 
    }

    @media screen and (min-width:$tablet){
        margin-left: 88px; 
    }

    @media screen and (min-width:$desktop) {
        margin-left: 93px;  
    }
    
}
.nav-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 50px; 
       
        & .nav-link.current {
            color: var(--active-color);
        }
}
.nav-item{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-link {
    text-decoration: none;
    color: var(--primary-text-color);
    cursor: pointer;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    position: relative;
    transition: color 250ms var(--timing-function);

        &:focus, &:hover {
            color: var(--active-color);
        }
}

/* Current */
.nav-link.current::after {
    content:'';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
}