/* Pfofile */
.profile {
    padding-top: 0;
    
    @media screen and (min-width:320px) and (max-width:1199px){
      display: none;
    }
}

.profile__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 50px;
}

.profile__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.profile__item {
    position: relative;
}

.profile__text{
    content: '';
    position: absolute;
    bottom: 9%;
    left: 25%;
    right: 25%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-bg-color;
}
.profile__item::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}

